<h1 class='center'>Characters</h1>
  <div class='container'>
    <div class="row">
    <div *ngFor='let character of characters' class="col s6 m4">
      <div class="card horizontal" (click)="selectCharacter(character)" pkmn-border-card>
        <div class="card-image">
          <img [src]="character.picture">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="{{ character.name | characterTypeColor }}">{{ character.name }}</p>
            <p><small>Number of seasons: {{ character.nbrSeason }}</small></p>
            <p><small>Updated at: {{ character.updatedAt | date:"dd/MM/yyyy"}}</small></p>
            In season <span *ngFor='let season of character.seasons; let isLast = last'>{{ season }}{{ !isLast ? ',' : '.'}}</span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>